$gray-1: #1c1b21;
$gray-2: #2c2b30;
$gray-3: #495057;
$gray-4: #6c757d;
$gray-5: #adb5bd;
$gray-6: #ced4da;
$gray-7: #dee2e6;
$gray-8: #e9ecef;
$gray-9: #f8f9fa;

$primary: $danger;
$secondary: $dark;

$white: #fff;
$black: #000;