.movieCard {
	background-color: transparent;
	border: 0;
	cursor: pointer;
	height: calc(100% - 2rem) !important;
	margin-bottom: 2rem;
	padding-bottom: 3.5rem;
	position: relative;
	transition: transform;
	transition-duration: 0.25s;

	&__img {
		@include soft-shadow($black);
		@include border-radius( 0.4rem);
		transition: filter;
		transition-duration: 0.25s;
	}

	&__body {
		bottom: 0;
		min-height: 3.5rem;
		padding: .5rem;
		position: absolute;
		text-align: left;
		overflow: hidden;

		&__text {
			font-size: .8rem;
			font-weight: bold;
		}

		@include media-breakpoint-between(xs, lg) {
			&__text {
				font-size: .6rem;
			}
		}
	}

	&:hover {
		@include transform(scale(1.08));

		.movieCard__img {
			filter: grayscale(100%);
		}
	}

	@include media-breakpoint-down(sm) {
		&:hover {
			@include transform(none);
		}
	}
}

.Card {
	display: block;
}