.MainNav {
	background: transparent;

	.navbar {
		&-brand {
			color: white;
		}

		&-nav {
			.nav-link {
				color: white;
			}
		}
	}
}

header {
	&.masthead {
		background: rgba(0, 0, 0, .65);
		color: #fff;
		text-align: center;
		margin-top: -56px;
		padding-bottom: 6rem;
		padding-top: 10.5rem;
		position: relative;

		&:after {
			content: "";
			background-attachment: scroll;
			background-image: url(./assets/img/header-bg.jpg);
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			position: absolute;
			z-index: -1;
		}
	}
}