
.SearchBar {
	height: calc(38px + 10rem);
	padding: 5rem;

	&__select {
		display: inline-block;
		float: left;
		margin-right: 10px;
		width: 100px;
	}

	&__input {
		display: inline-block;
		float: left;
		width: calc(100% - 158px);
	}

	&__button {
		@include ripple(#dc3545, #c82333);
		float: left;
		height: 38px;
		margin-left: 10px;
		padding: 0;
		width: 38px;
	}

	@include media-breakpoint-down(sm) {
		padding: 15px;

		&__select,
		&__input,
		&__button {
			display: block;
			float: none;
			margin: 0 0 10px;
			width: 100%;
		}
	}
}