@mixin ripple($color1, $color2) {
	position: relative;
	overflow: hidden;
	transform: translate3d(0, 0, 0);

	&:after {
		content: "";
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		pointer-events: none;
		background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
		background-repeat: no-repeat;
		background-position: 50%;
		transform: scale(10, 10);
		opacity: 0;
		transition: transform .5s, opacity 1s;
	}

	&:active{
		&:after {
			transform: scale(0, 0);
			opacity: .3;
			transition: 0s;
		}

	}
}

.SearchBar {
	height: calc(38px + 10rem);
	padding: 5rem;

	&__input {
		display: inline-block;
		float: left;
		width: calc(100% - 48px);
	}

	&__button {
		@include ripple(#dc3545, #c82333);
		float: left;
		height: 38px;
		margin-left: 10px;
		padding: 0;
		width: 38px;
	}
}